<!-- views/partials/topBar.ejs -->

	<div class="codrops-top">
                
           <strong>RAD with IoT Demo: </strong> Simulation of rating in auto insurance based on actual driver
                
           <span class="right">
              <a href="#">
                    <strong>Rate by Actual Driver with IoT &copy Panchatantra Team</strong>
              </a>
           </span>
      </div><!-- top bar -->